<div class="sidebar-container">
    <!--Logo-->
    <div class="logo">
        <img src="../../../assets/logo.jpg" alt="Reico Logo" (click)="onItemSelected({ displayName: 'MAIN', route: '/main' })"
        [ngClass]="{
          'activo': router.isActive('/main', true)
        }">
    </div>
    <hr>
    <div class="my-10">  
        <button class="my-2 menu-item" (click)="onItemSelected({ displayName: 'OLT', route: '/olt' })"
          [ngClass]="{
            'activo': router.isActive('/olt', true)
          }">
          <p>OLT</p>
        </button>
      
        <button class="my-2 menu-item" (click)="onItemSelected({ displayName: 'FTTH', route: '/ftth' })"
          [ngClass]="{
            'activo': router.isActive('/ftth', true)
          }">
          <p>FTTH</p>
        </button>

        <button class="my-2 menu-item" (click)="onItemSelected({ displayName: 'IPTV', route: '/iptv' })"
        [ngClass]="{
          'activo': router.isActive('/iptv', true)
        }">
        <p>IPTV</p>
      </button>

        <button class="my-2 menu-item" (click)="onItemSelected({ displayName: 'ONT', route: '/ont' })"
        [ngClass]="{
          'activo': router.isActive('/ont', true)
        }">
        <p>ONT</p>
      </button>
      
        <button class="my-2 menu-item" (click)="onItemSelected({ displayName: 'ROUTER', route: '/rtr' })"
          [ngClass]="{
            'activo': router.isActive('/rtr', true)
          }">
          <p>ROUTER</p>
        </button>
      
      </div>

</div>


