.logo {
  width: 20%;
  padding: 20px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.header-content {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: space-between;
}

.info p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}


.colcolor {
  background-color: #e7ecef !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}



