<!-- Modal - Actualizar Router -->
<div
  tabindex="-1"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75"
  [class.hidden]="!isVisible"
>
  <div class="relative p-6 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow-lg">
      <!-- Cerrar Modal -->
      <button
        type="button"
        (click)="closeModal()"
        class="absolute top-3 right-3 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex justify-center items-center"
      >
        <svg
          class="w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M1 1l6 6m0 0l6 6m-6-6L1 13m6-6L13 1"
          />
        </svg>
        <span class="sr-only">Cerrar modal</span>
      </button>

      <!-- Header -->
      <div class="text-center p-6 border-b border-gray-200">
        <h3 class="text-xl font-semibold text-gray-800">Actualizar dispositivo</h3>
      </div>

      <!-- Formulario -->
      <div class="p-6 space-y-4">
        <form [formGroup]="routerForm" novalidate class="flex flex-col gap-4">
          <!-- Estado -->
          <div>
            <label
              for="estado"
              class="block mb-2 text-sm font-medium text-gray-700"
              >Estado</label
            >

            <select
              id="estado"
              formControlName="estado"
              class="w-full px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              (change)="onStatusChange($event)"
            >
              <option *ngFor="let status of statuses" [value]="status.id">
                {{ status.name }}
              </option>
            </select>
            <mat-error *ngIf="errorHandling('estado', 'required')">
              El estado es <strong>requerido</strong>.
            </mat-error>
          </div>

          <!--Tipo Dispositivo-->
          <div>
            <label
              for="tipoDispositivo"
              class="block mb-2 text-sm font-medium text-gray-700"
              >Tipo de dispositivo</label
            >

            <select
              id="tipoDispositivo"
              formControlName="tipoDispositivo"
              class="w-full px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              (change)="onTypeChange($event)"
            >
              <option *ngFor="let tipo of tipos" [value]="tipo.value">
                {{ tipo.value }}
              </option>
            </select>
            <mat-error *ngIf="errorHandling('estado', 'required')">
              El tipo de dispositivo es <strong>requerido</strong>.
            </mat-error>
          </div>

          <!-- Número de activo -->
          <div>
            <label
              for="activo"
              class="block mb-2 text-sm font-medium text-gray-700"
              >Número de activo</label
            >
            <input
              type="text"
              id="activo"
              name="activo"
              formControlName="activo"
              class="w-full px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Ingrese el número de activo"
              required
            />
            <mat-error *ngIf="errorHandling('serie', 'required')">
              El número de activo es <strong>requerida</strong>.
            </mat-error>
          </div>

          <!-- MAC Address -->
          <div>
            <label
              for="macAddress"
              class="block mb-2 text-sm font-medium text-gray-700"
              >MAC Address</label
            >
            <input
              type="text"
              id="macAddress"
              name="macAddress"
              formControlName="macAddress"
              class="w-full px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Ingrese la dirección MAC"
              required
            />
            <mat-error *ngIf="errorHandling('macAddress', 'required')">
              El MAC Address es <strong>requerida</strong>.
            </mat-error>
          </div>

          <!-- Serie -->
          <div>
            <label
              for="serie"
              class="block mb-2 text-sm font-medium text-gray-700"
              >Serie</label
            >
            <input
              type="text"
              id="serie"
              name="serie"
              formControlName="serie"
              class="w-full px-3 py-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Ingrese la serie"
              required
            />
            <mat-error *ngIf="errorHandling('serie', 'required')">
              El número de serie es <strong>requerida</strong>.
            </mat-error>
          </div>

          <!-- Botones -->
          <div class="flex justify-center p-4">
            <button
              type="button"
              (click)="updateRouter()"
              class="text-black bg-[#909B9F] focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center drop-shadow-sm hover:bg-[#112346] hover:text-white"
            >
              Actualizar
            </button>
            <button
              type="button"
              (click)="closeModal()"
              class="py-2.5 px-5 ms-10 text-white bg-[#112346] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center drop-shadow-sm"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
